@font-face {
    font-family: Plus Jakarta Display Light;
    src: url(Fonts/PlusJakartaDisplay-Light.otf);
  }
@font-face {
  font-family: Plus Jakarta Display Regular;
  src: url(Fonts/PlusJakartaDisplay-Regular.otf);
}


@font-face {
  font-family: Playfair Display SemiBold;
  src: url(Fonts/PlayfairDisplay-SemiBold.ttf);
}
@font-face {
  font-family: Playfair Display Medium;
  src: url(Fonts/PlayfairDisplay-Medium.ttf);
}


@font-face {
  font-family: Poppins;
  src: url(Fonts/Poppins-ExtraLight.ttf);
}
